 <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
             <i class="fa fa-unity"></i>
              WE ARE STAND WITH YOU
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="login.html" class="nav-link smoothScroll">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="AdminLogin.html" class="nav-link smoothScroll">Administrative Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">New Registration</a>
                    </li>
                    <li class="nav-item">
                        <a href="KnowPlace.html" class="nav-link contact">know About Place</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<head>

     <title>Villege survey</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="stylesheet" href="css/owl.carousel.min.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/templatemo-digital-trend.css">

</head>